# Open Circuit API settings
# API base URL - defaults to https://api.ocircuit.dev/ if not specified
OCIRCUIT_API_BASE=http://localhost:3001

# Open Circuit API key
# This is required for authentication with the Open Circuit API
OCIRCUIT_API_KEY=
