# Continue API settings
# API base URL - defaults to https://api.ocircuit.dev/ if not specified
OCIRCUIT_API_BASE=http://localhost:3001

# Continue API key
# This is required for authentication with the Continue API
OCIRCUIT_API_KEY=
